### 目標: 找出 ```AAPL``` 跟 ```MSFT``` 的 balance sheet, income statement, cash flow statement, 與 beta 值:

拆分目標:  
- 先創一個 dictionary  
- 因為有多個股票，所以要迴圈  
    - 迴圈內要有另一個 dictionary，用來放各種資訊 
    - 迴圈的最後，要把 local 的 dictionary 裡的資訊放入 global 的 dictionary(也就是巢狀 dictionary)  
- 將巢狀迴圈轉型成 ```pandas``` 的 ```Data Frame```  
- 將 ```NaN``` 刪除

In [6]:
import requests 
import pandas as pd 
from bs4 import BeautifulSoup

In [7]:
financial_dict = {}
tickers = ["AAPL", "MSFT"]

In [8]:
for ticker in tickers:
    # get balance sheet information
    temp_dict = {}
    url = "https://finance.yahoo.com/quote/"+ticker+"/balance-sheet?p="+ticker 
    page = requests.get(url)
    page_content = page.content # getting html code
    soup = BeautifulSoup(page_content, "html") # getting Beautiful soup instance
    temp = soup.find("div", {"class":"D(tbrg)"}) 
    rows = temp.find_all("div", {"data-test":"fin-row"})
    for row in rows:
        title = row.find("span", {"class":"Va(m)"})
        title = title.get_text() # 取得科目名稱
        num = row.find("div", {"data-test":"fin-col"}) 
        num = num.get_text() # 取得科目數據
        temp_dict[title] = num

    # get income statement information
    url = "https://finance.yahoo.com/quote/"+ticker+"/financials?p="+ticker
    page = requests.get(url)
    page_content = page.content # getting html code
    soup = BeautifulSoup(page_content, "html") # gettting Beautiful soup instance
    temp = soup.find("div", {"class":"D(tbrg)"}) 
    rows = temp.find_all("div", {"data-test":"fin-row"})
    for row in rows:
        title = row.find("span", {"class":"Va(m)"})
        title = title.get_text() # 取得科目名稱
        num = row.find("div", {"data-test":"fin-col"}) 
        num = num.get_text() # 取得科目數據
        temp_dict[title] = num

    # get cash flow information
    url = "https://finance.yahoo.com/quote/"+ticker+"/cash-flow?p="+ticker
    page = requests.get(url)
    page_content = page.content # getting html code
    soup = BeautifulSoup(page_content, "html") # getting Beautiful soup instance
    temp = soup.find("div", {"class":"D(tbrg)"}) 
    rows = temp.find_all("div", {"data-test":"fin-row"})
    for row in rows:
        title = row.find("span", {"class":"Va(m)"})
        title = title.get_text() # 取得科目名稱
        num = row.find("div", {"data-test":"fin-col"}) 
        num = num.get_text() # 取得科目數據
        temp_dict[title] = num
    
    # get beta information
    url = "https://finance.yahoo.com/quote/"+ticker+"?p="+ticker
    page = requests.get(url)
    page_content = page.content
    soup = BeautifulSoup(page_content, "html")
    temp = soup.find("div", {"data-test":"quote-summary-stats"})
    temp = temp.find_all("tr", {"class":"Bxz(bb) Bdbw(1px) Bdbs(s) Bdc($seperatorColor) H(36px)"})[8]
    title = temp.find("td", {"class":"C($primaryColor) W(51%)"})
    title = title.get_text()
    num = temp.find("td", {"class", "Ta(end) Fw(600) Lh(14px)"})
    num = num.get_text()
    temp_dict[title] = num
    

    financial_dict[ticker] = temp_dict # 將最大的 financial_dict 裡的 key 值設為各 ticker，value 則是那個 ticker 裡的財務資訊

combined_financials = pd.DataFrame(financial_dict)
combined_financials.dropna(axis=0, inplace=True)
tickers = combined_financials.columns
print(combined_financials)

                                                           AAPL         MSFT
Total Assets                                        323,888,000  301,311,000
Total Liabilities Net Minority Interest             258,549,000  183,007,000
Total Equity Gross Minority Interest                 65,339,000  118,304,000
Total Capitalization                                164,006,000  177,882,000
Common Stock Equity                                  65,339,000  118,304,000
Net Tangible Assets                                  65,339,000   67,915,000
Working Capital                                      38,321,000  109,605,000
Invested Capital                                    177,775,000  181,631,000
Tangible Book Value                                  65,339,000   67,915,000
Total Debt                                          112,436,000   70,998,000
Net Debt                                             74,420,000   49,751,000
Share Issued                                         16,976,763    7,571,000
Ordinary Shares Number                               16,976,763    7,571,000
Total Revenue                                       273,857,000  147,114,000
Cost of Revenue                                     169,277,000   46,674,000
Gross Profit                                        104,580,000  100,440,000
Operating Expense                                    37,442,000   44,291,000
Operating Income                                     67,138,000   56,149,000
Net Non Operating Interest Income Expense             1,052,000   -2,543,000
Other Income Expense                                    127,000    2,868,000
Pretax Income                                        68,317,000   56,474,000
Tax Provision                                         9,893,000    8,978,000
Net Income Common Stockholders                       58,424,000   47,496,000
Diluted NI Available to Com Stockholders             58,424,000   47,496,000
Basic EPS                                                     -            -
Diluted EPS                                                   -            -
Basic Average Shares                                          -            -
Diluted Average Shares                                        -            -
Total Operating Income as Reported                   67,138,000   56,149,000
Total Expenses                                      206,719,000   90,965,000
Net Income from Continuing & Discontinued Opera...   58,424,000   47,496,000
Normalized Income                                    58,424,000   45,065,440
Interest Income                                       4,101,000            -
Interest Expense                                      3,049,000    2,543,000
Net Interest Income                                   1,052,000   -2,543,000
EBIT                                                 71,366,000   59,017,000
EBITDA                                               82,899,000   71,487,000
Reconciled Cost of Revenue                          169,277,000   46,674,000
Reconciled Depreciation                              11,533,000   12,470,000
Net Income from Continuing Operation Net Minori...   58,424,000   47,496,000
Normalized EBITDA                                    82,899,000   68,597,000
Tax Rate for Calcs                                            0            0
Tax Effect of Unusual Items                                   0      459,440
Operating Cash Flow                                  80,008,000   66,192,000
Investing Cash Flow                                 -10,618,000  -15,818,000
Financing Cash Flow                                 -86,502,000  -46,111,000
End Cash Position                                    35,039,000   17,380,000
Capital Expenditure                                  -8,302,000  -16,963,000
Issuance of Capital Stock                               820,000    1,461,000
Issuance of Debt                                     22,794,000            -
Repayment of Debt                                   -13,908,000            -
Repurchase of Capital Stock                         -72,615,000  -24,799,000
Free Cash Flow                                       71,706,000   49,229,000
Beta (5Y Monthly)                                          1.28         0.83

我是用 ```.find()```(而非 ```.find_all()```) 來找 ```"fin-col"``` 的數據，如此一來，就可以只取得最新的數據  
得注意到可能有很多不同的數據都是同一個 ```class```，這時就要用 ```.find_all()``` 並用 list 取值的方式來取得你要的數據是位於第幾個 ```class```。

In [10]:
combined_financials

                                     AAPL          MSFT
Cash and cash equivalents     3,80,16,000   1,35,76,000
Other short-term investments  5,29,27,000  12,29,51,000
Total cash                    9,09,43,000  13,65,27,000
Net receivables               1,61,20,000   3,20,11,000
Inventory                       -7,75,000       -79,000
...                                   ...           ...
Cash at end of period         3,50,39,000   1,73,80,000
Free cash flow                7,17,06,000   4,92,29,000
Operating cash flow           8,00,08,000   6,61,92,000
Capital expenditure            -83,02,000  -1,69,63,000
Taxes payable                         NaN     21,30,000

[78 rows x 2 columns]